{% extends "corebase.html" %}
{% load static %}

{% block head %}
<title>
  Add Voters
</title>
{% endblock %}

{% block content %}
<h1 class="text-center h1 mt-5 mb-5">Add Voters</h1>

<div class="container d-flex justify-content-center">
  <div class="row w-75 mt-3">
    <form method="post">
      {% csrf_token %}
      <table class="table table-stripped text-center">
        <thead>
          <tr>
            <th><input type="checkbox" name="check-uncheck" id="check-uncheck" value="" checked></th>

            <th>Aadhar Number</th>
            <th>Public Key</th>
          </tr>
        </thead>

        <tbody>
          {% for voter_details in voters_details %}
          <tr>
            <td> <input type="checkbox" name="public_keys" id="" value="{{voter_details.eth_public_key}}" checked> </td>
            <td> {{voter_details.aadhaar_number}} </td>
            <td> {{voter_details.eth_public_key}} </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      {% if voters_details|length > 0 %}
      <button class="btn btn-primary align" type="submit">Submit</button>
      {% else %}
      <p>no records</p>
      {% endif %}
    </form>
  </div>
</div>

<script type="text/javascript">
  function selectAll() {
    var items = document.getElementsByName('public_keys');
    for (var i = 0; i < items.length; i++) {
      if (items[i].type == 'checkbox')
        items[i].checked = true;
    }
  }

  function UnSelectAll() {
    var items = document.getElementsByName('public_keys');
    for (var i = 0; i < items.length; i++) {
      if (items[i].type == 'checkbox')
        items[i].checked = false;
    }
  }

  document.getElementById('check-uncheck').addEventListener('change', function () {
    if (this.checked) {
      selectAll();
    } else {
      UnSelectAll();
    }
  });
</script>

{% endblock %}