{% extends "corebase.html" %}
{% load static %}

{% block head %}
<title>Voter Registration</title>
{% endblock %}

{% block content %}
<h1 class="h1 text-center mt-5 mb-5">Voter Registration</h1>
<div class="container d-flex justify-content-center ">
    <div class="row w-50">
        {% if already_registered == False %}
    <form action="" method="post" class="m-5" >
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="aadhaar_number" id="" minlength="12" maxlength="12" placeholder="Aadhar Number"
            autofocus required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="eth_public_key" id="" minlength="42" maxlength="42" placeholder="Ethereum public key"
            required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    {% else %}
    <h2 class="h2 text-center mt-5 text-success" >Already registered</h2>
    {% endif %}
    </div>
</div>
{% endblock%}